@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0c11;
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
  max-width: 100%;
}

@media (min-width: 1216px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: calc(1216px + 32px);
  }
}

.primary-btn,
.primary-btn-inside {
  color: #ffffff;
  border-radius: 8px;
  background: linear-gradient(-45deg, #4054ed, #5519e3, #297cea);
  background-size: 600%;
  animation: anime 16s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  gap: 8px;
  transition: all 0.25s ease;
  text-wrap: nowrap;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.primary-btn:hover {
  gap: 16px;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.primary-btn:hover {
  /* box-shadow: 0 0 40px 5px rgba(64, 84, 237, 0.349); /* Blue spread shadow */
  opacity: 0.85;
}

.head-text-primary {
  font-family: "articulat-cf", sans-serif;
  font-weight: 300;
  line-height: 125%;
}

.body-text-primary {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  line-height: 150%;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  transition: opacity 0.3s;
}

.swiper-slide-active {
  opacity: 1;
}

/* .swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
} */

@media (min-width: 1024px) {
  .padding-container-left {
    padding-left: calc((100vw - 1216px) / 2);
  }

  .padding-container-left-video {
    padding-left: calc((100vw - 1216px) / 2 + 184px);
  }

  .margin-container-right {
    margin-right: calc((100vw - 1216px) / 2);
  }

  .padding-container-right {
    padding-right: calc((100vw - 1216px) / 2);
  }

  .margin-container-left {
    margin-left: calc((100vw - 1216px) / 2);
  }
}

.horizontal-absolute-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.horizontal-vertical-absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.accordion-item {
  overflow: hidden;
  transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.accordion-body {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.accordion-active > .accordion-body {
  animation: 0.25s all ease;
  opacity: 1;
  height: fit-content;
  overflow: visible;
  margin-top: 24px;
}

.accordion-header > .accordion-chevron {
  transition: all 0.25s ease;
}

.accordion-active > .accordion-header > .accordion-chevron {
  rotate: 180deg !important;
}

.video-height {
  height: 164px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.video-card {
  height: 164px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.video-active {
  background-color: #4054ed;
}

.video-off {
  background-color: #2f3133bf;
}

.tab-button.active-tab {
  border-color: #4054ed;
  color: #ffffff;
  transition: all 0.25s ease;
}

.tab-button:not(.active-tab) {
  border-color: transparent;
  color: #95979d;
}

.tab-button-next {
  color: #ffffff;
}

.tab-button-next:hover {
  color: #ffffff;
}

.tab-content-text {
  transition: opacity 0.3s ease;
}

.tab-content-image {
  background-size: cover; /* Ensure the image fits well */
  background-position: center;
  object-fit: cover !important;
}

.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}

.active-nav-indicator > a > div {
  background-color: #179467 !important;
  border-width: 0px !important;
  box-shadow: 0px 0px 20px 4px #179467 !important;
}

.active-nav-indicator > a {
  color: #ffffff;
}

.container-toggle-visao {
  display: flex;
  gap: 8px;
  border: 1px solid #2f3133;
  width: fit-content;
  border-radius: 12px;
  padding: 8px;
}

.visao-indicador {
  width: 164px;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "DM sans", sans-serif;
  color: #95979d;
  font-weight: 700;
  transition: 0.25s all ease;
}
.visao-resultado {
  width: 164px;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  transition: 0.25s all ease;
  color: #95979d;
  transition: 0.25s all ease;
}

.container-toggle-visao {
  transition: 0.25s all ease;
}

.container-toggle-visao > .active {
  background-color: #2f31336c;
  color: #fff !important;
  transition: 0.25s all ease;
}

.swiper-slide-initial-wrapper {
  width: 100%;
  border: 1px solid #2f3133bf; /* Replace with your specific border color value */
  padding: 32px;
  border-radius: 4px;
  height: 384px !important;
}

@media (min-width: 768px) {
  .swiper-slide-initial-wrapper {
    height: 234px !important;
  }
}

.ganhos-slide-card {
  border-radius: 12px !important;
  overflow: hidden !important;
}

.ganhos-slide-card > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar {
  width: 6px;
  background-color: #101115;
}

html::-webkit-scrollbar-thumb {
  background: #2f3133;
  border-radius: 100px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#sidebar {
  background-color: #0b0c11;
  transform: translateY(-100%);
  transition: all 0.3s ease;
  opacity: 0;
}

#sidebar.open {
  transform: translateY(-0%);
  opacity: 1;
}

#menu-toggle,
#close-sidebar {
  background: none;
  border: none;
  cursor: pointer;
}

#close-sidebar {
  position: absolute;
  top: 16px;
  right: 16px;
}
