*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-6 {
  bottom: 1.5rem;
}

.left-6 {
  left: 1.5rem;
}

.right-0 {
  right: 0px;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0px;
}

.top-4 {
  top: 1rem;
}

.top-\[80px\] {
  top: 80px;
}

.z-50 {
  z-index: 50;
}

.z-\[9999\] {
  z-index: 9999;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[112px\] {
  margin-top: 112px;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-\[148\] {
  height: 148;
}

.h-\[384px\] {
  height: 384px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[80px\] {
  height: 80px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-\[44px\] {
  width: 44px;
}

.w-full {
  width: 100%;
}

.max-w-\[1008px\] {
  max-width: 1008px;
}

.max-w-\[384px\] {
  max-width: 384px;
}

.max-w-\[484px\] {
  max-width: 484px;
}

.max-w-\[512px\] {
  max-width: 512px;
}

.max-w-\[620px\] {
  max-width: 620px;
}

.max-w-\[968px\] {
  max-width: 968px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.place-content-center {
  place-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-GRAY-BORDER-75 {
  border-color: #2F3133BF;
}

.border-WHITE {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-opacity-5 {
  --tw-border-opacity: 0.05;
}

.bg-BLACK {
  --tw-bg-opacity: 1;
  background-color: rgb(11 12 17 / var(--tw-bg-opacity));
}

.bg-GRAY-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 17 21 / var(--tw-bg-opacity));
}

.bg-GREEN-BUTTON {
  --tw-bg-opacity: 1;
  background-color: rgb(22 147 90 / var(--tw-bg-opacity));
}

.bg-WHITE {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-emerald-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}

.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}

.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}

.bg-rafael-avelar {
  background-image: url('/assets/mentor.png');
}

.bg-cover {
  background-size: cover;
}

.p-6 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[112px\] {
  padding-top: 112px;
  padding-bottom: 112px;
}

.py-\[72px\] {
  padding-top: 72px;
  padding-bottom: 72px;
}

.pb-\[112px\] {
  padding-bottom: 112px;
}

.pb-\[64px\] {
  padding-bottom: 64px;
}

.pl-\[72px\] {
  padding-left: 72px;
}

.pt-\[72px\] {
  padding-top: 72px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.font-BODY {
  font-family: aileron, sans-serif;
}

.font-BTN {
  font-family: DM Sans, sans-serif;
}

.font-HEAD {
  font-family: aileron, sans-serif;
}

.text-body14 {
  font-size: 0.875rem;
}

.text-body16 {
  font-size: 1rem;
}

.text-body18 {
  font-size: 1.125rem;
}

.text-body20 {
  font-size: 1.25rem;
}

.text-head24 {
  font-size: 1.5rem;
}

.text-head32 {
  font-size: 2rem;
}

.text-sm12 {
  font-size: 0.75rem;
}

.text-sm14 {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-EMERALD {
  --tw-text-opacity: 1;
  color: rgb(58 206 115 / var(--tw-text-opacity));
}

.text-GRAY-400 {
  --tw-text-opacity: 1;
  color: rgb(149 151 157 / var(--tw-text-opacity));
}

.text-GRAY-BORDER {
  --tw-text-opacity: 1;
  color: rgb(47 49 51 / var(--tw-text-opacity));
}

.text-WHITE {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-opacity-100 {
  --tw-text-opacity: 1;
}

.text-opacity-65 {
  --tw-text-opacity: 0.65;
}

.underline {
  text-decoration-line: underline;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0c11;
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
  max-width: 100%;
}

@media (min-width: 1216px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: calc(1216px + 32px);
  }
}

.primary-btn,
.primary-btn-inside {
  color: #ffffff;
  border-radius: 8px;
  background: linear-gradient(-45deg, #4054ed, #5519e3, #297cea);
  background-size: 600%;
  animation: anime 16s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  gap: 8px;
  transition: all 0.25s ease;
  text-wrap: nowrap;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.primary-btn:hover {
  gap: 16px;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.primary-btn:hover {
  /* box-shadow: 0 0 40px 5px rgba(64, 84, 237, 0.349); /* Blue spread shadow */
  opacity: 0.85;
}

.head-text-primary {
  font-family: "articulat-cf", sans-serif;
  font-weight: 300;
  line-height: 125%;
}

.body-text-primary {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  line-height: 150%;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  transition: opacity 0.3s;
}

.swiper-slide-active {
  opacity: 1;
}

/* .swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
} */

@media (min-width: 1024px) {
  .padding-container-left {
    padding-left: calc((100vw - 1216px) / 2);
  }

  .padding-container-left-video {
    padding-left: calc((100vw - 1216px) / 2 + 184px);
  }

  .margin-container-right {
    margin-right: calc((100vw - 1216px) / 2);
  }

  .padding-container-right {
    padding-right: calc((100vw - 1216px) / 2);
  }

  .margin-container-left {
    margin-left: calc((100vw - 1216px) / 2);
  }
}

.horizontal-absolute-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.horizontal-vertical-absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.accordion-item {
  overflow: hidden;
  transition: all 0.25s ease;
}

.accordion-body {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.accordion-active > .accordion-body {
  animation: 0.25s all ease;
  opacity: 1;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
  margin-top: 24px;
}

.accordion-header > .accordion-chevron {
  transition: all 0.25s ease;
}

.accordion-active > .accordion-header > .accordion-chevron {
  rotate: 180deg !important;
}

.video-height {
  height: 164px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.video-card {
  height: 164px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.video-active {
  background-color: #4054ed;
}

.video-off {
  background-color: #2f3133bf;
}

.tab-button.active-tab {
  border-color: #4054ed;
  color: #ffffff;
  transition: all 0.25s ease;
}

.tab-button:not(.active-tab) {
  border-color: transparent;
  color: #95979d;
}

.tab-button-next {
  color: #ffffff;
}

.tab-button-next:hover {
  color: #ffffff;
}

.tab-content-text {
  transition: opacity 0.3s ease;
}

.tab-content-image {
  background-size: cover;
  /* Ensure the image fits well */
  background-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5 !important;
}

.active-nav-indicator > a > div {
  background-color: #179467 !important;
  border-width: 0px !important;
  box-shadow: 0px 0px 20px 4px #179467 !important;
}

.active-nav-indicator > a {
  color: #ffffff;
}

.container-toggle-visao {
  display: flex;
  gap: 8px;
  border: 1px solid #2f3133;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  padding: 8px;
}

.visao-indicador {
  width: 164px;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "DM sans", sans-serif;
  color: #95979d;
  font-weight: 700;
  transition: 0.25s all ease;
}

.visao-resultado {
  width: 164px;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  color: #95979d;
  transition: 0.25s all ease;
}

.container-toggle-visao {
  transition: 0.25s all ease;
}

.container-toggle-visao > .active {
  background-color: #2f31336c;
  color: #fff !important;
  transition: 0.25s all ease;
}

.swiper-slide-initial-wrapper {
  width: 100%;
  border: 1px solid #2f3133bf;
  /* Replace with your specific border color value */
  padding: 32px;
  border-radius: 4px;
  height: 384px !important;
}

@media (min-width: 768px) {
  .swiper-slide-initial-wrapper {
    height: 234px !important;
  }
}

.ganhos-slide-card {
  border-radius: 12px !important;
  overflow: hidden !important;
}

.ganhos-slide-card > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar {
  width: 6px;
  background-color: #101115;
}

html::-webkit-scrollbar-thumb {
  background: #2f3133;
  border-radius: 100px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#sidebar {
  background-color: #0b0c11;
  transform: translateY(-100%);
  transition: all 0.3s ease;
  opacity: 0;
}

#sidebar.open {
  transform: translateY(-0%);
  opacity: 1;
}

#menu-toggle,
#close-sidebar {
  background: none;
  border: none;
  cursor: pointer;
}

#close-sidebar {
  position: absolute;
  top: 16px;
  right: 16px;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:border-opacity-20:hover {
  --tw-border-opacity: 0.2;
}

.hover\:border-opacity-45:hover {
  --tw-border-opacity: 0.45;
}

.hover\:text-WHITE:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:opacity-25:hover {
  opacity: 0.25;
}

.hover\:opacity-45:hover {
  opacity: 0.45;
}

.hover\:opacity-75:hover {
  opacity: 0.75;
}

.hover\:outline:hover {
  outline-style: solid;
}

.hover\:outline-\[\#16935A33\]:hover {
  outline-color: #16935A33;
}

.group:hover .group-hover\:text-BLUE-PRIMARY {
  --tw-text-opacity: 1;
  color: rgb(64 84 237 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-opacity-100 {
  --tw-text-opacity: 1;
}

@media (min-width: 768px) {
  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:max-w-\[192px\] {
    max-width: 192px;
  }

  .md\:max-w-\[224px\] {
    max-width: 224px;
  }

  .md\:max-w-\[248px\] {
    max-width: 248px;
  }

  .md\:max-w-\[348px\] {
    max-width: 348px;
  }

  .md\:max-w-\[484px\] {
    max-width: 484px;
  }

  .md\:max-w-\[648px\] {
    max-width: 648px;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:text-body16 {
    font-size: 1rem;
  }

  .md\:text-head32 {
    font-size: 2rem;
  }

  .md\:text-head40 {
    font-size: 2.5rem;
  }

  .md\:text-head48 {
    font-size: 3rem;
  }
}
